[app:main]
sqlalchemy.url = mysql://username:password@localhost:3306/dbname?charset=utf8
sqlalchemy.pool_recycle=3600


default_user.username = Fill me with username!
default_user.password = Fill me with password!
